#These are configuration files for QtCreator
dox.config
dox.creator
dox.creator.user
dox.files
dox.includes
*.autosave

#These are the config files for CLion
.idea/

#The "build" directory for making documentation
docs/

#The "build" directory auto created by CLion
cmake-build-debug/
