#These are configuration files for QtCreator
NWChemExBase.config
NWChemExBase.creator
NWChemExBase.creator.user
NWChemExBase.files
NWChemExBase.includes
*.autosave

#These are configuration files for CLion
.idea/

#This is the documentation build directory
docs/

#These are my common build directory names
Debug/
Release/

#These are CLion's build dirs
cmake-build-debug/
cmake-build-release/
